header.navbar{
    width: 100%;
    //margin-right: 0;
    //margin-left: 0;
    //padding:0px 64px;
    background-color: $purple;
    nav.container-fluid{
        background-color: $purple;
        div.offcanvas{
            background-color: $purple;
        }
    }
    img{
        width: 40px;
        margin-right: 12px;
        margin-left: 32px;
    }
    ul{
        li.nav-item{
            a.nav-link{
                color: $darkLinks;
                transition: all .3s;
                &:hover{
                    color: lighten($darkLinks, 15%);
                }
            }
            a.nav-link.active{
                color: $darkLinks;
                background-color: $background;
                &:hover{
                    background-color: lighten($background, 15%);
                }
            }
        }
    }
}
