{% extends 'base/main.html' %}
{% block title %}Crear escuela{% endblock title %}
{% block main %}
<main class = "createMain">
    <section>
        <form action="." method="post" class="card">
            {% csrf_token %}
            <li>
                <label for="id_name" class="form-label">Nombre del colegio</label>
                <input type="text" class="form-control" name="name" autocomplete="current-password" required="" id="id_name">
            </li>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </section>
</main>
{% endblock main %}