.configMain{
    min-height:700px;
    section{
        height: 100%;
        @include flexbox(row,center,center);
        form{
            display: inline-block;
            width: 300px;
        }
    }
}