.configMain{
    min-height:700px;
    section{
        height: 100%;
        @include flexbox(row,center,center);
        form{
            display: inline-block;
            width: 300px;
            margin: 32px 40% !important;
            @media only screen and (max-width:560px){
                margin: 32px 32px;
            }
        }
    }
}