@import 'components/card';

.indexMain{
    min-height: 600px;
    section{
        margin: 32px 64px;
        &.commissions{
            h2{
                text-align: center;
            }
            >div{
                @include grid(1,0,minmax(100px, auto),repeat(3,1fr));
                gap: 32px;
            }
        }
    }
}