@import 'articles';

.indexMain{
    min-height: 600px;
    section{
        margin: 32px 64px;
        &:first-child{
            margin-top: 2rem;
            @include flexbox(row,flex-end,center);
            div{
                display: inline-block;
            }
        }
        &.commissions{
            h2{
                text-align: center;
            }
            div{
                @include grid(1,0,minmax(100px, auto),repeat(3,1fr));
                gap: 32px;
                article{
                    &.addCommission{
                        button{
                            background-color: $purple;
                            color: $background;
                            border: none;
                            padding: 12px;
                            font-size: 42px;
                        }
                    }
                }
            }
        }
    }
}