{% extends 'base/main.html' %}
{% load static %}
{% block title %}Crear comisión{% endblock title %}

{% block scripts %}
    <script src="{% static 'js/addClassComissionsForm.js' %}"></script>
{% endblock scripts %}

{% block main %}
<main class = "createMain">
    <section>
        <form action="." method="post" class="card">
            {% csrf_token %}
            {{ form.as_ul }}
        <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </section>
</main>
{% endblock main %}