{% extends 'base/main.html' %}
{% block title %}Crear comisión{% endblock title %}
{% block main %}
<main class = "createMain">
    <section>
        <form action="." method="post">
            {% csrf_token %}
            {{ form.as_ul }}
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        
        <button type="submit">Guardar</button>
        </form>
    </section>
</main>
{% endblock main %}