{% extends 'base/base.html' %}
{% load static %}
{% block title %}Registrarse{% endblock title %}
{% block body %}
    <main class="loginMain">
        <form method="post">
            {% csrf_token %}
            <div class="site mb-3">
                <img src="{% static 'multimedia/sea.png' %}" alt="">
                <h1>Sea Softwares</h1>
            </div>
            <div class="mb-3">
                <label for="id_username" class="form-label">Usuario</label>
                <input type="text" class="form-control" name="username" maxlength="150" autofocus="" required="" id="id_username">
            </div>
            <div class="mb-3">
                <label for="id_email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" maxlength="254" id="id_email">
            </div>
            <div class="mb-3">
                <label for="id_password1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" name="password1" autocomplete="new-password" required="" id="id_password1" aria-autocomplete="list">
            </div>
            <div class="mb-3">
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
            </div>
            <div class="mb-3">
                <label for="id_password2" class="form-label">Confirmar contraseña</label>
                <input type="password" class="form-control" name="password2" autocomplete="new-password" required="" id="id_password2">
                <span class="helptext">Enter the same password as before, for verification.</span>
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </main>
{% endblock body %}
