@mixin grid($autoRows,$autoColumns,$rows,$columns){
    display: grid;
    @if $autoRows == 1{
        grid-auto-rows: $rows;
    }@else{
        grid-template-rows:$rows;
    }
    @if $autoColumns == 1{
        grid-auto-columns: $columns;    
    }@else{
        grid-template-columns:$columns ;
    }
    
    
}
@mixin flexbox($direction,$justify,$align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}