<form action="post"> {% csrf_token %}
    <ul>
        <li>
            <strong>Caculos</strong>
        </li>
        <li>
            <label for="">Agregar asistencia a todos</label>
            <button type="submit"> + </button>
        </li>
        <li>
            <label for="">Restar asistencia a todos</label>
            <button type="submit"> - </button>
            
        </li>
        <li>
            <label for="month">Mes actual</label>
            <input type="text" name="month" id="month">
        </li>
        <li>
            <label for="Days">Días habiles</label>
            <input type="text">
        </li>
        <li>
            <label for="mean_asistence">Asistencia media</label>
            <input type="text" placeholder="example of mean asistence">
        </li>
        <li>
            <label for="total_days_habils">Dias habiles total</label>
        </li>
        <li>
            <label for=""></label>
        </li>
        <li>
            <button submit="submit">Calculasion</button>
        </li>
    </ul>
</form>