{% extends 'base/main.html' %}
{% block main %}

<main class="indexMain">
    <section>
        <div>
            <span>{{request.user.username}}</span>
        </div>
    </section>
    <section class="commissions">
        {% if object_list %}
            <h2>Comisiones</h2>
        {% else %}
            <h2>Agrega comisiones para poder empezar a calcular</h2>
        {% endif %}
        <hr>
        <div>
            {% if object_list %}
                {% for comision in object_list.commission %}
                    <article>
                        {{comision.name}}
                    </article>
                
                {% endfor %}

            
            {% endif %}
        </div>
    </section>
</main>


{% endblock main %}
