{% extends 'base/main.html' %}
{% block main %}

<main class="indexMain">
    <section>
        <div>
            <span>{{request.user.username}}</span>
            {% if teacher %}
                <img src={{teacher.perfil_image.ur}}>
            {% endif %}
        </div>
    </section>
    <section class="commissions">
        {% if commissions %}
            <h2>Comisiones</h2>
        {% else %}
            <h2>Agrega comisiones para poder empezar a calcular</h2>
        {% endif %}
        <hr>
        <div>
            {% if commissions %}
                {% for commission in commissions %}
                    <article>
                        <strong>{{commission.name}}</strong>
                        <ul>
                            <li>first primarys alumns</li>
                            <li>first primarys alumns</li>
                            <li>first primarys alumns</li>
                            <li>first primarys alumns</li>
                            <li>first primarys alumns</li>
                        </ul>
                    </article>
                {% endfor %}
                <article class="addCommission">
                    <p>No hay comisiones</p>
                    <button type="button"><i class="bi bi-plus-circle-fill"></i></button>        
                </article>
            {% else %}
                <article class="addCommission">
                    <p>No hay comisiones</p>
                    <button type="button"><i class="bi bi-plus-circle-fill"></i></button>        
                </article>
            {% endif %}
        </div>
    </section>
</main>


{% endblock main %}
