{% extends 'base.html' %}
{% load static %}
{% block body %}
    <main>
        <div>
            <h1> <img src="{% static 'multimedia/sea.png' %}" alt=""><span>Sea Softwares</span> </h1>
        </div>
        <form method="post"> {% csrf_token %}
            <h1>Iniciar sesion</h1>
            <ul>
                {{form.as_ul}}
            </ul>
            <button type="submit"> 
                Iniciar sesion
            </button>
            <nav>
            <span>¿No tenes sesion?</span> <a href="#">Registrarse</a>
            </nav>
        </form>
        {% include 'footer.html' %}
    </main>
{% endblock body %}
