.loginMain{
    form{
        margin: 128px 500px;
        div.site{
            @include flexbox(row, start, center);
            img{
                width: 64px;
                margin-right: 12px;
            }
        }
    }
}