{% extends 'base/main.html' %}
{% block title %}Estudiantes{% endblock title %}
{% block main %}
<main class = "studentMain">
    <section>
        <div class="card">
            <div class="card-header">
                <span>Comision: {{comission.name}}</span> 
                <a href="{% url 'ComissionDelete' comission.id %}" class="btn btn-danger">Eliminar comisión</a>
              </div>
            <ul class="list-group list-group-flush">
                {% for student in students %}
                    <li class="list-group-item options">
                        <span>{{student.name}}</span>
                        <div>
                            <a href="{% url 'StudentUpdate' student.id %}" class="btn btn-light">Info</a>
                            <a href="{% url 'StudentDelete' student.id %}" class="btn btn-danger">Eliminar</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
          </div>
    </section>
</main>
{% endblock main %}