{% extends 'base/base.html' %}
{% load static %}
{% block body %}
    <main class="login">
        <section>
            <div>
                <img src="{% static 'multimedia/sea.png' %}" alt=""><h1>Sea Softwares</h1>
            </div>
            <form method="post" class="login-form"> {% csrf_token %}
                <h2>Iniciar sesion</h1>
                <ul>
                    {{form.as_ul}}
                </ul>
                <button type="submit"> 
                    Iniciar sesion
                </button>
                <nav>
                <span>¿No tenes un usuario?</span> <a href="#">Registrarse</a>
                </nav>
            </form>
        </section>
    </main>
    {% include './../base/footer.html' %}
{% endblock body %}
