*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import 'base/vars';
@import 'components/mixin';
@import 'components/buttons';
@import 'components/loginCard';
ul{
    list-style-type: none;
}
body{
    background-color: $background
}
@import 'main/login';
@import 'main/header';
@import 'main/footer';