@import 'utils/vars';
@import 'utils/mixin';
@import 'components/buttons';
@import 'main/index/index';
@import 'main/login/login';
@import 'main/base/header';
@import 'main/base/footer';
@import 'main/calculator/calculator';
@import 'main/calculator/form';
@import 'main/calculator/table';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration:none ;
}
body{
    background-color: $background
}

ul{
    list-style-type: none;
}


